@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400..700&family=Noto+Sans+Arabic:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Naskh Arabic', sans-serif;
}
.hed,
body{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: #123;
}
.hed{
    height: 60%;
    width: 70%;
    color: white;
    padding: 10px;
    min-width: 452px;
    max-width: 530px;
}
.hed .text2{
    font-size: 20px;
}
.color-red{
    color: red;
}
.color-blue{
    color: blue;
}
.text3{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.text3 .random{
    position: relative;
    padding: 2px;
    width: 80%;
    overflow: hidden;
    border-radius: 6px;
    margin-top: 5px;
    max-width:308px;
    min-width:271px;
}
.text3 .random::after{
    content: "";
    position: absolute;
    top: -400%;
    left: 0%;
    width: 100%;
    height: 900%;
    background: linear-gradient(to left,brown,#3f3ffc);
    animation: rotate 2s linear infinite;
}
@keyframes rotate {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
.text3 button{
    position: relative;
    width:100%;
    padding: 1px;
    border-radius: 6px;
    border: none;
    font-weight: 600;
    background: blue;
    overflow: hidden;
    z-index: 1;
}
.text3 .random button::after{
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    background: black;
    transform:translate(-100%, -100%) rotate(45deg) ;
    z-index: 1;
    top: -50%;
    left: -50%;
    transition: all .5s;
}
.text3 .random button:hover::after{
    transform:rotate(45deg) translate(0, 0);
}
.text3 button:hover{
    cursor: pointer;
}
.text3 button:active{
    transform: scale(.9);
}
.text3 button i{
    display: none;
}
.text3 button .icon{
    display: block;
    position: absolute;
    right: 0;
    padding: 5px;
    font-size: 21px;
}
.text3 button span{
    position: relative;
    color: wheat;
    font-size: 17px;
    z-index: 2;
}
